<div class="footer">
  <div class="left">
    <div class="logo">USMS</div>
    University Students Management System
    <p>A student information system, student management system, school administration software or student administration system is a management information system for education establishments used to manage student data. </p>
  </div>
  <div class="right">
    <a href="" class="icon"><mat-icon aria-hidden="false" aria-label="home icon">facebook</mat-icon></a>
    <a href="" class="icon"><mat-icon aria-hidden="false" aria-label="home icon">call</mat-icon></a>
    <a href="" class="icon"><mat-icon aria-hidden="false" aria-label="home icon">link</mat-icon></a>
    <a href="" class="icon"><mat-icon aria-hidden="false" aria-label="home icon">place</mat-icon></a>
  </div>
</div>
