@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$primarytext:rgba(100, 200, 150, 1);
$primaryback: rgba(100, 200, 150, 0.3);
$primaryborder: rgba(100, 200, 150, 0.8);
$button: rgba(100, 200, 150, 1);
$buttonhover:  rgb(73, 180, 127);


.admin{
  font-family: 'Open Sans', sans-serif;
}

// Body Start
.admin .body{
  margin-left: 50px;
  margin-right: 50px;
  min-height: calc(100vh - 330px);
  text-align: center;
  padding-top: 50px;
}

.admin .body .img{
  opacity: 0.8;
}

.admin .body .img img{
  width: 200px;
  height: 200px;
}

.admin .body .buttons{
  padding: 0 200px 0 200px ;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
}

@media only screen and (max-width: 1200px) {
  .admin .body .buttons{
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .admin .body .buttons{
    margin: 30px;
    display: block;
  }

  .admin .body{
    margin-left: 10px;
    margin-right: 10px;
  }
}
// Body End
