<div class="add_student">
  <app-admin-header heading="USMS-Admin" sub_heading="Add New Student" divider="|"></app-admin-header>
  <div class="body">
    <form>
      <div class="form">
        <div class="heading">Student Registration Form</div>
        <div class="sub_heading">University Student Management System</div>
        <app-form-text-field field_name="Student ID" type="text" placeholder="e.g. SE/2017/022" name="stu_id"></app-form-text-field>
        <app-form-text-field field_name="Name" type="text" placeholder="e.g. Josiah Prathaban" name="stu_name"></app-form-text-field>
        <app-form-text-field field_name="NIC No." type="text" placeholder="e.g. 982690129V" name="stu_nic"></app-form-text-field>
        <app-form-text-field field_name="Address" type="text" placeholder="e.g. No.61/2, Chavakattu, Mannar." name="stu_address"></app-form-text-field>
        <app-form-text-field field_name="E-mail" type="email" placeholder="e.g. josiah@example.com" name="stu_email"></app-form-text-field>
        <app-form-text-field field_name="Username" type="text" placeholder="e.g. SE/2017/022" name="stu_username"></app-form-text-field>
        <app-form-text-field field_name="Password" type="password" placeholder="e.g. SE/2017/022" name="stu_password"></app-form-text-field>
        <input type="submit" name="submit" value="Add">
      </div>
    </form>
  </div>
  <app-footer></app-footer>
</div>
